body,
html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}



/* ------------------ NAVIGATION ----------------------*/
.logo-lable img{
  width: 150px;
  height: auto;
}
#co2mmon-navigation.bg-light{
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent !important;
    color: #00425b;
    z-index: 11111;
    width:100vw;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.0018382352941176405) 3%, rgba(255,255,255,1) 100%);
}
#co2mmon-navigation.bg-light a{
    text-decoration: none;
    color: #0A6435;
    font-size: 1.2rem;
    text-shadow: 0px 0px 16px rgba(255,255,255,0.79);
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1rem;
}
.menu-item{
    padding: 5px 10px;
    text-align: center;
}
#co2mmon-navigation ul{
    display:flex;
    list-style-type: none;
}
.offcanvas-collapse{
  justify-content: flex-end;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 0px; /* Height of navbar */
      bottom: 0;
      right: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #ffffff;
      transition: transform .6s ease-in-out, visibility .6s ease-in-out;
	    display: flex;
    align-items: center;
      justify-content: center;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(100%);
    }
  }
.navbar-light .navbar-toggler{
	border:none !important;
}
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
button.navbar-toggler{
z-index: 1000;
}
.socials i{
	padding: 0 5px;
	cursor:pointer;
}
.menu-item-999{
display:none;	
}
.navbar-toggler{
  display: none;
}
/* ------------------ COMMON-CLASSES ----------------------*/

.wp-block-image img{
width: 100%;
height: auto;
}
/* ------------------ HOME ----------------------*/
.home_opener_background{
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-size: 100% auto;
  background-position: center bottom;
  background-image: url(../img/wave_home.png);
  background-repeat: no-repeat;
}

#home_phone-image{
  position: absolute;
  z-index: 1000;
  height: 95vh;
  width: auto;
  top: 5vh;
  right: 0;
}

.home_opener_video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding: 0;
}

#start_video{
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-aspect-ratio: 16/9) {
  #start_video{
    width: 100%;
    height: auto;
  }
}



.home_about{
  background: rgb(121,211,167);
  background: linear-gradient(180deg, rgba(121,211,167,1) 10%, rgba(5,135,180,1) 90%);
  /*background-color: #79D3A7;*/
  min-height: 90vh;
  height: auto;
}
.white_background{
  background-color: white;
}

#typed-strings>p{
  font-size: 4.7rem;
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 5rem;
}

  #typed{
    font-size: 4.7rem;
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 5rem;
    margin-bottom: 120px;
    margin-left: 40px;
  }

  .home-typed{
  height: 100vh;
  display: flex;
  align-items: flex-end;
  }
  .typed-cursor {
    display: none;
  }
  .home_about>.col-md-5{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .home_about #home_phone-image_int {
    display: none;
  }
  .home_about h2{
    font-size: 2.7rem;
    color: #0A6435;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
  }

  .home_about p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-gap: 0.5em;
    margin: initial;
    margin: 50px 40px;
    position: relative;
  }

  .gtig__item {
    padding: initial;
    max-width: none;
    padding-top: 200px;
    position: relative;
  }

  #svgwrap {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  .event_block {
      position: absolute;
      left: 50%;
      bottom:15px;
      transform: translateX(-50%);
  }
#arrow_1{
    height: 20px;
    width: auto;
  }
  .learn_more{
    display: flex;
  }
  .learn_more #arrow_1{
    padding: 0 15px;
  }
  .learn_more>p{
    text-decoration: underline;
  }
  .row>svg{
    padding: 0;
  }
  .news_title{
    text-align: center;
  }
  #top_video{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -1;
  }
  .subscribe_title h2{
    font-size: 2.7rem;
    color: #0A6435;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    text-align: center;
  }
  .subscribe_body>p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #0587b4;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 70%;
    margin: auto;
    text-align: center;
  }
  .news_item{
    text-align: center;
    margin: 30px 0;
  }
  .news_item>img{
    width: 150px;
    height: auto;
    text-align: center;
  }
  .news_item h3{
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 25px 0;
  }
  .fremium img{
    width: 80%;
    height: auto;
  }
  .fremium_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fremium_message h2{
    font-size: 2.7rem;
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    width: 100%;
  }
  .fremium>.col-11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #home_green_cent{
    width: 80%;
    height: auto;
  }
  .home_green_content{
    margin:40px 0;
  }
  .home_green_content h2{
    font-size: 2.7rem;
    color: #0A6435;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    width: 100%;
  }
  .home_green_content p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #0587b4;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .home_green_wrapper .col-11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* ------------------ SIGN UP ----------------------*/
  .indicates-required{
    display:none;
  }
  #mc_embed_signup{
    width: 80%;
    margin: 30px auto;
  }
  #mc_embed_signup>form{
  padding:0 !important;
  }
  #mce-EMAIL, #mce-FNAME, #mce-LNAME{
    border-radius: 50px !important;
    border-color: #0587b4 !important;
    border-width: 2px !important;
  }
  #mc_embed_signup .mc-field-group{
    width: 100% !important;
  }
  .mc-field-group label{
    font-size: 1rem;
    line-height: 1.6rem;
    color: #0587b4;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .asterisk{
    display: none;
  }
  #mc_embed_signup_scroll .clear{
    text-align: center;
  }
  #mc_embed_signup .button{
    margin-top: 20px !important;
    height: 42px !important;
    border-radius: 50px !important;
    background-color: #79d3a7 !important;
  }
/* ------------------ USERS ----------------------*/
.user_opener_background{
  width: 100%;
  height: 100vh;
background-image: url(../img/bike-girl.jpg);
background-size: cover;
background-position: center left;
}
.user_wave img{
  width: 100%;
  height: auto;
}
.user_wave{
  padding: 0;
}
.wave_row{
  z-index: 100;
  position: relative;
  /*transform: translate(0px, -140px);*/
}
.co2_back{
  background-color: #79D3A7;
}
.wave_row h2{
  font-size: 2.7rem;
  color:#0A6435;
  font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.wave_row p{
  font-size: 1.2rem;
  line-height: 1.6rem;
  color:#ffffff;
  font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.line-col{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ------------------ FOOTER ----------------------*/
.logo-lable.in_footer{
position: absolute;
margin: 30px 38px;
width: fit-content;
}
.ft_wrapper{
  background: rgb(121,211,167);
  background: linear-gradient(180deg, rgba(121,211,167,1) 10%, rgba(5,135,180,1) 90%);
  height: auto;
}
.extra_menu_items{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.extra_menu_items p{
  margin: 15px 40px 5px 5px;
  font-size: 1.2rem;
    line-height: 1.6rem;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ft_contect p{
  margin: 5px 5px 5px 40px;
  font-size: 0.9rem;
    line-height: 1.2rem;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ft_rights p{
  margin: 5px 40px 5px 5px;
  font-size: 0.9rem;
    line-height: 1.2rem;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}
.ft_rights{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.ft_love{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ft_love p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ft_icons_wrapper{
  margin: 5px 5px 5px 40px;
}
.ft_icons_wrapper a{
  text-decoration: none;
    color: #0A6435;
    font-size: 1.2rem;
    text-shadow: 0px 0px 16px rgb(255 255 255 / 79%);
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1rem;
}
/* ------------------ MEDIA----------------------*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
  #home_phone-image {
    display: none;
  }
  .home_about>.int_phone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#typed {
  font-size: 3.7rem;
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 3.8rem;
  margin-bottom: 85px;
}
.home_about h2 {
  margin-top: 40px;
}
#home_green_cent{
  margin-top: 40px;
}
  #home_phone-image_int{
  width: 80%;
  height: auto;
}
.home_green_content h2,
.home_about h2,
.subscribe_title h2{
  font-size: 2.3rem;
}
.fremium,
.subscribe_title{
  margin-top: 30px;
  margin-bottom: 30px;
}
.subscribe_body>p,
#mc_embed_signup{
width: 100%;
}
.news_item{
  margin: 10px 0;
}
.logo-lable.in_footer{
  display: none;
}
.extra_menu_items p{
  margin: 0;
  font-size: 1rem;
}
.extra_menu_items{
justify-content: flex-start;
flex-direction: column;
}
.extra_menu_items, .ft_contect, .ft_love p{
  margin-top: 30px;
}
.ft_contect p, .ft_icons_wrapper{
margin: 0;
}
.ft_rights p{
  margin: 5px 0 5px 5px;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 576px) and (max-width: 767px) {  
  #home_phone-image {
    display: none;
  }
   .home_about>.int_phone {
    display: flex;
  }
  .fremium_message h2{
    font-size: 2rem;
  }
  .news_item>img{
    width: 100%;
    height: auto;
  }
  .news_item h3{
    font-size: 1.2rem;
  }
  .fremium,
.subscribe_title{
  margin-top: 30px;
  margin-bottom: 30px;
}
#home_green_cent{
  margin-top: 40px;
}
.subscribe_body>p,
#mc_embed_signup{
width: 100%;
}
.logo-lable.in_footer{
  display: none;
}
.extra_menu_items p{
  margin: 0;
  font-size: 1rem;
}
.extra_menu_items{
justify-content: flex-start;
flex-direction: column;
}
.extra_menu_items, .ft_contect, .ft_love p{
  margin-top: 30px;
}
.ft_rights p{
  margin: 5px 0 5px 5px;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {  
  #home_phone-image {
    display: none;
  }
   .home_about>.int_phone {
    display: flex;
  }
  #home_green_cent{
    width: 95%;
  }
  .home_green_wrapper .col-11{
    align-items: flex-start;
  }
  .fremium img, #home_phone-image_int {
    width: 90%;
    height: auto;
}
.fremium>.col-11, .int_phone {
  align-items: flex-start;
}
.subscribe_body>p,
#mc_embed_signup{
width: 90%;
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1200px) { 
    #home_phone-image {
      display: none;
    }
    .home_about>.int_phone {
      display: flex;
    }
    #home_green_cent{
      width: 95%;
    }
    .home_green_wrapper .col-11{
      align-items: flex-start;
    }
    .fremium img, #home_phone-image_int {
      width: 90%;
      height: auto;
  }
  .fremium>.col-11, .int_phone {
    align-items: flex-start;
  }
  .subscribe_body>p,
  #mc_embed_signup{
  width: 90%;
  }
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1201px) and (max-width: 1400px) { 

 }

 @media (min-width: 1401px) and (max-width: 1700px){

 }

 @media (min-width: 1701px) and (max-width: 1920px){
#typed{
  margin-bottom: 240px;
  font-size: 6.5rem;
}
.home_about h2, .home_green_content h2, .subscribe_title h2{
  font-size: 3.9rem;
}
.home_about p, .home_green_content p, .subscribe_body>p, .news_item h3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.home_green_wrapper .col-11{
  align-items: flex-start;
}
.ft_contect p, .ft_rights p{
font-size: 1.2rem;
line-height: 1.5rem;
}
.ft_love p, .extra_menu_items p, .mc-field-group label, #mc_embed_signup .button, .ft_icons_wrapper a, #co2mmon-navigation.bg-light a, input{
  font-size: 1.4rem !important;
}
.fremium>.col-11{
align-items: flex-start;
}
 }
 /* XXX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1921px) {

  .logo-lable img {
    width: 240px;
    height: auto;
}
  #typed{
    margin-bottom: 240px;
    font-size: 7.6rem;
  }
  .home_about h2, .home_green_content h2, .subscribe_title h2{
    font-size: 4.9rem;
  }
  .home_about p, .home_green_content p, .subscribe_body>p, .news_item h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .home_green_wrapper .col-11{
    align-items: flex-start;
  }
  .ft_contect p, .ft_rights p{
  font-size: 1.2rem;
  line-height: 1.5rem;
  }
  .ft_love p, .extra_menu_items p, .mc-field-group label, #mc_embed_signup .button, .ft_icons_wrapper a, #co2mmon-navigation.bg-light a, input{
    font-size: 1.8rem !important;
  }
  .fremium>.col-11{
  align-items: flex-start;
  }

 }